version: '3'

services:
  api:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - /usr/src/app/node_modules
      - .:/usr/src/app
    environment:
      NODE_ENV: development
      HOSTNAME: 0.0.0.0
      PORT: 3000
      APP_SECRET:
      DATABASE_URL: postgres://memmo_user:root_12345@db:5432/memmo
      TWILIO_ACCOUNT_SID:
      TWILIO_AUTH_TOKEN:
      TWILIO_SERVICE_VERIFY_SID:
      TWILIO_SERVICE_NOTIFICATION_SID:
      TWILIO_PHONE_NUMBER:
      FIREBASE_TYPE:
      FIREBASE_PROJECT_ID:
      FIREBASE_PRIVATE_KEY_ID:
      FIREBASE_PRIVATE_KEY:
      FIREBASE_CLIENT_EMAIL:
      FIREBASE_CLIENT_ID:
      FIREBASE_AUTH_URI:
      FIREBASE_TOKEN_URI:
      FIREBASE_AUTH_PROVIDER_X509_CERT_URL:
      FIREBASE_CLIENT_X509_CERT_URL:
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - db
  db:
    restart: unless-stopped
    image: postgres:12.0-alpine
    environment:
      POSTGRES_DB: memmo
      POSTGRES_USER: memmo_user
      POSTGRES_PASSWORD: root_12345
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres: ~
